

.modal.fade.in .modal-body {
    bottom: 0;
    right:0;
    animation: slide-right;


}

.modal-body {
    position: absolute;
    right: -250px;
    bottom: 5px;
    
    border-right-width: 5px;
      
    animation: slide-right;
    padding: 15px;
    width: 320px;
    height: 280px;
    /*background-color: #e5e5e5;*/
   
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

    z-index: 2000;      
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

 
}
.close {
    margin-top: -10px;
    text-shadow: 0 1px 0 #ffffff;
}
.popup-button {
    margin-left: 140px;
    margin-top: 77px;
    font-weight: bold;
}










